@page
@model IndexModel
@{
    ViewData["Title"] = "Cart";
}
@Html.AntiForgeryToken()

<section class="cart default">
    <h2>Your items</h2>
    <ul id="cartList"></ul>

    <div>
        <button onclick="submitOrder()" class="btn-primary">Place Order</button>
    </div>
    <div>
        <a asp-page="./History">Order History</a>
    </div>
</section>

@section Scripts {
<script>
    var cartItems = getCartItems();

    if (cartItems) {
        for (var i = 0; i < cartItems.length; i++) {
            $("#cartList").append("<li>" + cartItems[i].name + ":  " + cartItems[i].quantity + "</li>");
        }        
    }

    function submitOrder() {
        var cartItems = getCartItems();
        var order = { "Items": cartItems };
        $.ajax({
            type: "POST",
            headers: { "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val() },
            url: "?handler=SubmitOrder",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(order),
            success: function () {
                clearCart();
                window.location.href = "/Cart/OrderComplete";
            },
        });
    }
</script>
}