@page
@model OrderCompleteModel
@{
    ViewData["Title"] = "Order Complete";
}
<section class="default">


    <h2>Your order is complete</h2>
    <div></div>
    <a asp-page="../Product/Index">Continue Shopping</a>
</section>
